* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #255EE9;
  /* CANCELLA L'ALTEZZA */
  height: 150px; 
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}